<!-- 
File: election.html
Purpose: This file contains the HTML structure for displaying a single election 
Authors: Ella Brink, Lauren Wilson, Emma Bellai, Lucy DiSalvo 
Version History:
- Version 1.0 (Sprint 2): Initial version created by Ella Brink
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Election Dashboard</title>
</head>
<body>
    <div class="header">
        <a href="/"><img class="logo" src="{{ url_for('static', filename='images/Safeballot (500 x 384 px).png') }}"></a>
            <div class="dropdown" style="float:right">
                <a href="#" class="nav">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </a>
            <div class="dropdown-content" style="right: 27px;">
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            </div>
            </div>
    </div>
    <h1>Election Dashboard</h1>
    <!-- Add buttons or forms for Admin and Auditor functionalities -->
    <p><a href="/">Logout</a></p>
</body>
</html>
